@import "tailwindcss";

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-manrope: Manrope, ui-sans-serif, system-ui, sans-serif;
  --font-space-grotesk: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  --color-text: #040316;
  --color-background: #fbfbfe;
  --color-primary: #11c1a2;
  --color-secondary: #dddbff;
  --color-accent: #78afe3;
}

h1,
h2 {
  @apply font-space-grotesk;
}

h2 {
  @apply text-3xl;
}
.btn-primary {
  @apply bg-primary text-background p-4 font-bold rounded-lg transition ease-in duration-150 text-base;
}

.btn-primary:hover {
  background-color: #00a688;
  cursor: pointer;
}
