---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ICanNameThisComponentWhateverIWant from "@/components/SomeComponent.astro";
---

<BaseLayout>
  <ICanNameThisComponentWhateverIWant />
  <div class="font-bold">Hello!</div>
</BaseLayout>
