---
import { Image } from "astro:assets";

import heroImage from "@/images/hero-img-rounded.png";
import DownloadDocIcon from "@/assets/icons/download-doc.svg";
import ArrowDownIcon from "@/assets/icons/arrow-down.svg";
import ChatIcon from "@/assets/icons/chat.svg";

const name = "Reeman Singh".split(""); // i'll add animations for this later
---

<section
  id="main"
  class="relative min-h-screen flex justify-center overflow-visible"
>
  <div class="pt-12 md:pt-28 text-center">
    <p>Hi there! I am</p>
    <h1
      class="text-primary name-letters leading-tight md:leading-tight font-extrabold -mb-0.5"
    >
      <!-- gonna animate this later -->
      {name.map((letter) => <span>{letter}</span>)}
    </h1>

    <p class="md:pt-5 mx-auto w-11/12 text-justify sm:text-center md:w-1/2">
      A <b>Software Developer</b> and an <b>Information Technology</b> graduate from
      the Philippines who wants to design meaningful systems for a more connected
      and efficient world.
    </p>
    <Image
      src={heroImage}
      alt="Photo of Reeman Singh"
      width={220}
      height={220}
      class="pt-6 mx-auto drop-shadow-sm"
    />
    <div
      class="flex flex-col sm:flex-row justify-center gap-2 mt-8 w-3/4 mx-auto"
    >
      <!-- href="/Reeman_Singh_Resume.pdf" -->
      <a target="_blank" rel="noopener noreferrer" class="flex justify-center">
        <button class="btn-primary flex items-center justify-center">
          <DownloadDocIcon class="w-5 mr-1.5 h-min" />
          <div class="">View my Resume</div>
        </button>
      </a>
      <a href="#contact" class="flex justify-center">
        <button class="btn-primary flex items-center justify-center">
          <ChatIcon class="w-5 mr-1.5 h-min" />
          <div class="">Get in Touch</div>
        </button>
      </a>
    </div>
    <a
      href="#about"
      class="mt-8 inline-flex items-center gap-2 text-sm text-slate-500 hover:text-primary"
    >
      <ArrowDownIcon />
      <span>Scroll to learn more</span>
    </a>
  </div>

  <style>
    @reference "@/styles/global.css";

    .name-letters {
      font-size: calc((1.5rem + 4vw) - 0.1vw);
      @apply 2xl:text-7xl;
    }

    @media (min-width: 768px) {
      .name-letters {
        line-height: 4rem;
      }
    }

    .btn-primary {
      @apply bg-primary text-background p-4 font-bold rounded-lg transition ease-in duration-150 text-base;
    }

    .btn-primary:hover {
      background-color: #00a688;
      cursor: pointer;
    }
  </style>
</section>
