---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import CommonHead from "@/components/CommonHead.astro";
import "@/styles/global.css";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <CommonHead title={title} description={description} />
    <title>{title}</title>
  </head>
  <body class="font-manrope">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
