---
import "@/styles/global.css";
// maybe dont include a skills section this time, and just include projects instead
// add a tag filter later on in projects list
// OR filter using tags in the page itself, the skills being
---

<section>
  <h2>About me</h2>
  <div class="md:w-5/6 2xl:max-w-[108rem]"></div>
  <span
    >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, nam!</span
  >
</section>
