---
import "@/styles/global.css";
import { getCollection } from "astro:content";
import Project from "@/components/index-components/Project.astro";
import Container from "@/components/Container.astro";
import ChevronRightIcon from "@/assets/icons/chevron-right.svg";

const allProjects = (
  await getCollection("projects", ({ data }) => {
    return data.featured === true;
  })
).sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<section id="projects" class="py-16 bg-gray-400/5">
  <Container class="relative z-10 flex flex-col items-center">
    <h2 class="text-center">My Featured Projects</h2>
    <ul class="pt-4 flex flex-wrap justify-center">
      {/*md:w-5/6 2xl:max-w-[108rem] */}
      {/* currently placeholder projects */}
      {allProjects.map((project) => <Project projectData={project} />)}
    </ul>
    <a
      href="/projects"
      class="mt-6 text-slate-600 inline-flex items-center projects-link"
      data-astro-prefetch
    >
      <span class="mr-2">See All Projects</span>
      <ChevronRightIcon class="w-4" />
    </a>
  </Container>
</section>

<style>
  @reference "@/styles/global.css";

  .projects-link {
    @apply relative transition duration-200 hover:text-primary;
  }

  .projects-link::after {
    @apply bg-primary;
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -2px;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .projects-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
</style>
